.order-status {
    color: #ff4a00;
}

.sep {
    margin: 0 5px;
    color: #dfdfdf;
}

.column-info {
    height: 41px;
    font-weight: 400;
    text-align: left;
    background: #fafafa;
}

.order-description {
    width: 70%;
}

.tabs {
    margin: 0;
    margin-bottom: 1px;
}

.tabs li {
    background-color: #606374;
    padding: 5px 15px;
}

.tabs li.selected {
    background-color: #3464B9;
}

.tabs li a {
    color: white;
}

#create-order {
    width: 100%;
    min-height: 93%;
    position: relative;
}

#create-order input.form-control {
    display: inline;
    width: 300px;
}

#create-order select {
    width: 100px;
    display: inline;
}

#create-order .my-requirements .title {
    padding: 15px 40px;
    min-width: 160px;
}

#create-order .delivery {
    background-color: #555764;
    padding: 20px;
    color: white;
}

#create-order .my-requirements {
    background-color: #333541;
    color: white;
    padding: 20px;
}

#create-order .my-requirements table {
    width: 96%;
}

#my-orders a {
    color: white;
}

#my-orders .order {
    background-color: #333541;
    color: white;
    margin-top: 15px;
}

#my-orders .order-head {
    padding: 15px 5px;
}

#my-orders .order-body {
    background-color: #434551;
    padding: 15px 5px;
}

#my-orders .order-body .buttons {
    background-color: #333541;
    padding: 5px 15px;
}

#my-orders .order-body .buttons a {
    display: block;
    padding: 5px;
}

#order-detail .panel-group {
    color: white;
}

#order-detail table {
    width: 100%;
}

#order-detail table .title {
    padding: 15px 40px;
    text-align: right;
    min-width: 160px;
}

#order-detail .panel-group a {
    color: white;
}

#order-detail .panel {
    border: none;
}

#order-detail .panel-heading {
    background-color: #333541;
    border: none;
}

#order-detail .panel-heading a {
    display: block;
}

#order-detail .panel-body {
    background-color: #434551;
    border: none;
}

#order-detail .design .slide {
    width: 300px;
}

#order-detail .design .carousel-indicators {
    bottom: -10px;
}

#order-detail .design td {
    border: none;
}

#order-detail .design {
    background-color: #63677B;
    border-top: 1px dotted gray;
}

#order-detail .design .preview {
    padding: 20px;
    margin: 5px;
    width: 300px;
}

#order-detail .carousel-inner>.item>img {
    height: 200px;
}

#order-detail .clothings .clothing {
    cursor: pointer;
    position: relative;
}

#order-detail .clothings .clothing .zoom {
    position: absolute;
    top: 0;
    right: 20px;
    color: #333;
    display: none;
}

#order-detail .clothings .clothing:hover .zoom {
    display: inline;
}

#order-detail .clothings .clothing.selected .glyphicon {
    display: inline-block;
}

#order-detail .clothings .clothing .glyphicon-ok {
    color: lightgreen;
    font-size: 14px;
    display: none;
}

#order-detail .design .price span, #order-detail .total_price, #promotion .price, #final-price .price {
    color: #FFCC00;
    font-size: 24px;
}

#order-detail #promotion, #order-detail #promo-form, #order-detail #final-price, #order-detail #redesign-form {
    display: none;
}

#order-detail #redesign-form {
    padding: 10px;
}

#create_success_popup {
    top: calc(50% - 115px) !important;
}

#create_success_popup .modal-dialog {
    border: 10px #646464 solid;
}

#create_success_popup .modal-header {
    background-color: #242420;
    color: white;
}

#create_success_popup .close span {
    color: white;
}

#create_success_popup .modal-body, #create_success_popup .modal-footer {
    background-color: #BFBFBF;
    border: none;
}

#create_success_popup .modal-footer .btn {
    background-color: #FF621A;
    color: white;
}

#create_success_popup .modal-footer {
    text-align: center;
}
