.order-status {
    color: #ff4a00;
}

.sep {
    margin: 0 5px;
    color: #dfdfdf;
}

.column-info {
    height: 41px;
    font-weight: 400;
    text-align: left;
    background: #fafafa;
}

.order-description {
    width: 70%;
}

#create-order {
    width: 100%;
    min-height: 93%;
    position: relative;
}

#create-order input.form-control {
    display: inline;
    width: 300px;
}

#create-order select {
    width: 100px;
    display: inline;
}

#create-order .my-requirements .title {
    padding: 15px 40px;
}

#create-order .delivery {
    background-color: #555764;
    padding: 20px;
    color: white;
}

#create-order .my-requirements {
    background-color: #333541;
    color: white;
    padding: 20px;
}

#create-order .my-requirements table {
    width: 80%;
}

#my-orders {
    color: white;
}

#my-orders table {
    width: 100%;
}

#my-orders table .title {
    padding: 15px 40px;
    text-align: right;
}

#my-orders .order-list li {
    background-color: #606374;
    padding: 10px 25px;
    font-size: 16px;
}

#my-orders .order-list li.selected {
    background-color: #3464B9;
}

#my-orders .designer-info {
    background-color: #333541;
    color: white;
    padding: 30px;
}

#my-orders .designer-info p {
    font-size: 20px;
    width: 260px;
    text-align: left;
}

#my-orders .order-detail {
    background-color: #434551;
}

#my-orders a {
    color: white;
}

#my-orders .panel {
    border: none;
}

#my-orders .panel-heading {
    background-color: #333541;
    border: none;
}

#my-orders .panel-heading a {
    display: block;
}

#my-orders .panel-body {
    background-color: #333541;
    border: none;
}
