#login a,#phone-login a,#register a {
    color: orange;
}

#login a:hover,#phone-login a:hover,#register a:hover {
    color: orange;
}

#user-center .header {
    background-color: black;
    color: white;
}

#user-center .header li {
    margin-left: 35px;
    padding: 5px 0 5px 0;
}

#user-center .header li a {
    color: lightgray;;
    font-size: 1.1em;
}

#user-center .header li .glyphicon {
    font-size: 1.6em;
    vertical-align: middle;
    margin-top: -5px;
    color: lightgray;
}

#user-center .header b {
    font-size: 1.5em;
}

#user-center .header li.selected .glyphicon, #user-center .header li.selected a {
    color: #1872BC;
}

#user-center .header li.selected {
    border-bottom: 4px solid #1872BC;
}

#user-center .header ul {
    margin: 0;
}

#user-center .header .btn {
    margin-top: 6px;
}

#profile .column {
    border: 1px solid lightgray;
    margin: 5px;
    padding: 10px;
    float: left;
    background-color: white;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#profile .row-1 .name {
    font-size: 1.5em;
    text-align: right;
}

#profile .row-1 .value {
    font-size: 4.5em;
    font-weight: bolder;
}

#profile .row-1 .unit {
    font-size: 1.5em;
}

#profile .col-1 {
    width: 28%;
}

#profile .col-2 {
    width: 38%;
}

#profile .col-3 {
    width: 28%;
}

#profile .row-2 .name {
    font-size: 1.5em;
}

#profile .row-2 .value {
    font-size: 4.5em;
    font-weight: bolder;
}

#profile .pants-style li {
    background: url(../image/pants_style.png) center center no-repeat;
    width: 60px;
    height: 185px;
    padding: 18px 20px 0 20px;
    margin: 7px 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#profile .pants-style li.selected {
    background: url(../image/pants_style_selected.png) center center no-repeat;
}

#profile .photo {
    padding: 13px 0;
    max-height: 90%;
    max-width: 96%;
    -max-height: 90%;
    -max-width: 96%;
}

#profile .btn, #update-profile .btn {
    padding: 10px 55px;
}

#update-profile input.form-control {
    border-right: 0;
}

#update-profile .input-group-addon {
    background-color: #ffffff;
}
