.gray {
    color: gray;
}

#home .btn-lg {
    padding: 10px 50px;
    font-size: 2em;
    color: white;
}

#home .start {
    background: url(../image/new/home/header_bg.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
    padding: 40px 0 100px 40px;
    color: black;
}

#home .start .btn {
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 3px 35px;
}

#home .case {
    padding: 40px 0;
}

#home .case li {
    padding: 20px 100px;
}

#home .case li p {
    padding-top: 15px;
    font-size: 1.5em;
}

#home .case .intro-large {
    font-size: 3em;
}

#home .case .intro-medium {
    font-size: 1.6em;
    color: gray;
    padding: 10px;
}

#home .intro .header {
    background: url(../image/new/home/intro_bg.jpg) center center no-repeat;
    height: 100%;
}

#home .intro .title {
    font-size: 2.2em;
}

#home .intro .desp {
    font-size: 1.2em;
    color: gray;
}

#home .more-intro .intro-large {
    font-size: 1.8em;
}

#survey .carousel-caption {
    color: #000;
    text-shadow: none;
    position: relative;
    left: 0px;
    right: 0px;
}

#survey .option {
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
}

#survey .option {
    margin: 20px 5px;
    padding: 25px;
    cursor: pointer;
    background-color: white;
}

#survey .option:hover{
    border: 3px solid #1583D8;
    margin: 17px 2px;
}

#survey .option.selected {
    border: 3px solid #1583D8;
    margin: 17px 2px;
    background: white url(../image/new/selected-icon.png) bottom right no-repeat;
}

#survey .survey-intro .index {
    font-size: 2em;
    color: gray;
}

#survey .survey-intro .step {
    line-height: 2.5em;
    font-size: 1.1em;
}

#survey .survey-intro .arrow {
    font-size: 3em;
}

#survey-more #price-val {
    color: orange;
    font-size: 1.2em;
}

#survey-more input.form-control {
    border-right: 0;
}

#survey-more .input-group-addon {
    background-color: #ffffff;
}

#survey-more .collapse-btn {
    cursor: pointer;
}

#survey-more .collapse-btn.text {
    margin-top: 5px;
}

#survey-more .ui-slider-handle {
    background: url(../image/new/slider_btn.png) center center no-repeat;
    width: 38px;
    background-color: inherit;
}

#survey-more .input-group.error input, #survey-more .input-group.error .input-group-addon {
    border-color: red;
}

#survey-more .input-group.error .input-group-addon {
    color: red;
}

#upload_process {
    display: none;
    color: white;
}

#price-slider {
    background-color: lightgray;
    display: inline-block;
    width: 70%;
}

.ui-corner-all {
    border-radius: 4px;
}

#price-slider .ui-slider-range {
    background-color: #168AD0;
}

#price-slider .ui-slider-handle {
    background-color: #31B1FF;
    cursor: pointer;
}

#photos li {
    position: relative;
    margin: 10px 0;
}

#photos li a {
    position: absolute;
    bottom: 0px;
    right: 6px;
    color: red;
    font-size: 18px;
}

#home #steps .survey {
    color: #B68B69;
}

.left-nav li {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.left-nav li.selected {
    background-color: black;
}

.left-nav li.selected a {
    color: white;
}

.left-nav li a {
    color: black;
}

#return .table-bordered td, #return .table-bordered th {
    border-color: #333;
}
