{% extends "page.html" %}
{% load staticfiles %}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}

{% block title %}售后服务{% endblock %}

{% block content %}
<div class="page">
    <div class="container">
        <br /><br />
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <ul class="list-unstyled left-nav">
                    <li><a href="{% url 'portals:static_page' 'about' %}">关于优草</a></li>
                    <li class="selected"><a href="{% url 'portals:static_page' 'contact' %}">售后服务</a></li>
                    <li><a href="{% url 'portals:static_page' 'terms' %}">使用协议</a></li>
                    <li><a href="{% url 'portals:static_page' 'legal' %}">隐私声明</a></li>
                </ul>
            </div>
            <div class="col-md-7">
                <img src="{% static 'image/contact.jpg' %}" />
                <p>优草致力于用户提供卓越的服务，您可以在收到商品7天之内无条件退换货。（您可以通过包装盒中的售后服务卡或进入订单页面进行退换货）</p><br />
                <p><b>如果您遇到任何问题，您可以通过多种方式联系到优草，我们竭诚为您提供最周到的服务</b></p>
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-earphone"></span> 联系电话：0571-85127385（工作日 9:00-17:30）</li>
                    <li><span class="glyphicon glyphicon-user"></span> 客服QQ：2776596932</li>
                    <li><span class="glyphicon glyphicon-envelope"></span> 邮箱：2776596932@qq.com</li>
                    <li><span class="glyphicon glyphicon-map-marker"></span> 地址：杭州市滨江区江陵路567号新东方国际609</li>
                </ul>
                <br />
                <ul class="list-inline">
                    <li>
                        <p>微博：优草形象 </p>
                        <img src="/static/image/weibo.png" width="149" height="147">
                    </li>
                    <li>
                        <p>微信：优草形象</p>
                        <img src="/static/image/weixin.jpg" width="149" height="147">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
