{% extends "page.html" %}
{% load staticfiles %}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}

{% block title %}优草形象{% endblock %}

{% block content %}
<div id="home" class="text-center">
    <div class="start">
        <div style="height: 350px">
            <div class="text-center">
                <br /><br /><br /><br /><br /><br /><br />
                <h3>优草形象 ● 您的专业着装顾问</h3>
                <br /><br />
                <a href="{% url 'portals:survey' %}" class="btn btn-primary ">免费体验</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="case row">
            <p class="intro-large">优草是如何运作的</p>
            <ul class="list-inline">
                <li>
                    <img src="{% static 'image/new/home/step_1.png' %}" />
                </li>
                <li>
                    <img src="{% static 'image/new/home/step_2.png' %}" />
                </li>
                <li>
                    <img src="{% static 'image/new/home/step_3.png' %}" />
                </li>
            </ul>
        </div>
    </div>
    <div class="pada">
        <div style="height: 350px">
            <div class="text-center">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <a href="{% url 'portals:survey' %}" class="btn btn-primary btn-lg">点击查看</a>
            </div>
        </div>
    </div>
    <div class="paga">
        <h1>优草备选服饰品牌</h1>
        <img src="{% static 'image/new/home/part3.png' %}" />
    </div>
    <div class="paja">
        <div style="height: 350px">
            <div class="text-center">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <a href="{% url 'portals:survey' %}" class="btn btn-primary btn-lg">立即体验</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
