{% extends "page.html" %}
{% load staticfiles %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}

{% block title %}优草{% endblock %}

{% block content %}
<div id="home">
    <div class="overlay">
        <div class="column">
            <div class="container text-center">
                <h2><span>个性化的</span><img src="{% static 'image/ygrass.png' %}" /></h2>
                <h1>私人服装搭配</h1>
                <div class="action">
                    <div class="box center">
                        <a href="{% url 'portals:survey' %}" class="btn">我们开始吧</a>
                        {% if user.is_authenticated and not user.profile.is_freshman %}
                        <a href="{% url 'orders:create' %}?source=one-key" class="btn">一键下单？</a>
                        {% endif %}
                        {% comment %}
                        <ul class="list-unstyled text-left">
                            <li>
                                <div class="text-white">
                                    <span class="text-primary  glyphicon glyphicon-ok"></span>
                                    <span>完美协调的衣服</span>
                                </div>
                            </li>
                            <li>
                                <div class="text-white">
                                    <span class="text-primary  glyphicon glyphicon-ok"></span>
                                    <span>尝试变得从容</span>
                                </div>
                            </li>
                            <li>
                                <div class="text-white">
                                    <span class="text-primary  glyphicon glyphicon-ok"></span>
                                    <span>免费咨询及送货</span>
                                </div>
                            </li>
                        </ul>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% include "foot-steps.html" %}
    </div>
</div>
{% endblock %}
