{% extends "page.html" %}
{% load staticfiles %}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}

{% block title %}优草形象{% endblock %}

{% block content %}
<div id="home" class="text-center">
    <div class="start">
        <div style="height: 350px">
            <div class="col-md-offset-8 col-md-4">
                <br /><br /><br /><br /><br /><br /><br />
                <h4><b>先改变，后遇见</b></h4>
                <a href="{% url 'portals:survey' %}" class="btn btn-primary ">立即体验</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="case row">
            <ul class="list-inline">
                <li>
                    <img src="{% static 'image/new/home/case_1.png' %}" />
                    <p>约会、面试、相亲？</p>
                </li>
                <li>
                    <img src="{% static 'image/new/home/case_2.png' %}" />
                    <p>不满意自己的身材？</p>
                </li>
                <li>
                    <img src="{% static 'image/new/home/case_3.png' %}" />
                    <p>不知道穿什么？</p>
                </li>
            </ul>
            <p class="intro-large">优草形象，为您<b>量身选配</b></p>
            <p class="intro-medium">专业&nbsp;&nbsp;☆&nbsp;&nbsp;快捷&nbsp;&nbsp;☆&nbsp;&nbsp;品质</p>
        </div>
        <div class="emblem"><img src="{% static 'image/new/emblem.png' %}" /></div><br />

        <div class="intro row text-left">
            <div class="header"><div style="height: 248px"></div></div>
            <div class="col-md-4 col-md-offset-1">
                <p class="title">专业形象顾问</p>
                <p class="desp">我们的形象顾问为您打造最合适的穿着方案，让您在不同场合都能应对自如。</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <p class="title">职业时尚买手</p>
                <p class="desp">每件服装都由我们的时尚买手为您精心细选而来，只为让别人看到最有型的你。</p>
            </div>
            <div class="text-center col-md-12"><br /><br /><a href="#" class="btn btn-lg">了解更多</a><br /><br /></div>
        </div>
        <div class="emblem"><img src="{% static 'image/new/emblem.png' %}" /></div><br /><br />

        <div class="more-intro row">
            <div class="col-md-6 text-right"><img src="{% static 'image/new/home/more_intro.jpg' %}" /></div>
            <div class="col-md-4 col-md-offset-1 text-left intro-large">每套方案都经过我们的专业搭配，无论在颜色材质上都经过精心设计。</div>
            <div class="text-center col-md-12"><br /><br /><a href="#" class="btn btn-primary btn-lg">了解更多</a><br /><br /></div>
        </div>
    </div>
</div>
{% endblock %}
