{% extends "page.html" %}
{% load staticfiles thumbnail account_tags %}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}

{% block extrajs_compress %}
    <script src="{% static 'js/portal.js' %}"></script>
{% endblock%}
{% block extrajs %}
<!--[if lte IE 9]>
    <script src="{% static 'ie-bootstrap-carousel/ie-bootstrap-carousel.min.js' %}"></script>
<![endif]-->
{% endblock %}

{% block title %}优草形象{% endblock %}

{% block content %}
<div class="carousel slide page {% if onekeymode %}onekeymode{% endif %}" id="survey" data-ride="carousel" data-wrap="false" data-interval="false">
    <div class="carousel-inner">
        <div class="item situation active container {% if onekeymode %}last-slide{% endif %}" {% if onekeymode %}data-url="{% url 'portals:survey_more' %}"{% endif %}>
            <div class="carousel-caption row">
                <div class="col-md-12">
                    <h4 class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;请选择您的着装的场合</h4>
                    <br />
                    <div class="row">
                        {% for choice in SITUATION_CHOICES %}
                        <div class="col-sm-3">
                            <div class="option" data-value="{{ choice.0 }}" data-label="{{ choice.1 }}">
                                <img src="{{ STATIC_URL }}image/new/problem_{{ forloop.counter }}.png" /><br /><br />
                                <h4>{{ choice.1 }}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="next" href="javascript:void(0);"><img src="{% static 'image/new/next_btn.png' %}"></a>
                </div>
            </div>
        </div>

        <div class="item usual container multiple">
            <div class="carousel-caption row">
                <div class="col-md-12">
                    <h4 class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;请选择您平时着装的样子</h4>
                    <br />
                    <div class="row">
                        {% for value, label in USUAL_DRESS_OPTIONS.items %}
                        <div class="col-sm-3">
                            <div class="option" data-value="{{ value }}" data-label="{{ label }}">
                                <img src="{{ STATIC_URL }}image/new/problem_{{ forloop.counter }}.png" /><br /><br />
                                <h4>{{ label }}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <a class="previous" href="javascript:void(0);"><img src="{% static 'image/new/back_btn.png' %}"></a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="next" href="javascript:void(0);"><img src="{% static 'image/new/next_btn.png' %}"></a>
                </div>
            </div>
        </div>

        <div class="item preferred container last-slide multiple" data-url="{% url 'portals:survey_more' %}">
            <div class="carousel-caption row">
                <div class="col-md-12">
                    <h4 class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;请选择您喜欢的着装类型</h4>
                    <br />
                    <div class="row">
                        {% for value, label in PREFERRED_DRESS_OPTIONS.items %}
                        <div class="col-sm-3">
                            <div class="option" data-value="{{ value }}" data-label="{{ label }}">
                                <img src="{{ STATIC_URL }}image/new/problem_{{ forloop.counter }}.png" /><br /><br />
                                <h4>{{ label }}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <a class="previous" href="javascript:void(0);"><img src="{% static 'image/new/back_btn.png' %}"></a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="next" href="javascript:void(0);"><img src="{% static 'image/new/next_btn.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
