{% extends "page.html" %}
{% load staticfiles thumbnail account_tags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}

{% block extrajs %}
<script src="{% static 'js/portal.js' %}"></script>
<!--[if lte IE 9]>       
    <script src="{% static 'ie-bootstrap-carousel/ie-bootstrap-carousel.min.js' %}"></script>
<![endif]-->
{% endblock%}

{% block title %}优草{% endblock %}

{% block content %}
<div class="carousel slide bg-gray">
    <div class="carousel-inner">
        <div class="item active" id="price">
            <div class="carousel-caption">
                <div class="container">
                    <h4>你希望整套搭配在什么价格？</h4>
                    <div class="row selector last-slide" data-url="{% url 'accounts:update' %}?next={% url 'orders:create' %}">
                        {% for choice in PRICE_CHOICES %}
                        <div class="col-sm-2 option" data-value="{{ choice.0 }}", data-label="{{ choice.1 }}">
                            <a href="javascript:void(0)">
                                <img class="img-responsive" src="{% static 'image/age_level_1.png' %}" />
                                <span class="text-center">{{ choice.0 }}</span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
