{% extends "page.html" %}
{% load staticfiles thumbnail account_tags %}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'jQuery-File-Upload/css/jquery.fileupload.css' %}">
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}
{% block extracss %}
<link media="screen" rel="stylesheet" href="http://libs.useso.com/js/jqueryui/1.10.4/css/jquery.ui.slider.min.css">
{% endblock%}

{% block extrajs %}
<script src="http://libs.useso.com/js/jqueryui/1.10.4/jquery-ui.min.js"></script>
{% endblock %}

{% block extrajs_compress %}
<script src="{% static 'jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/portal.js' %}"></script>
{% endblock%}

{% block title %}优草{% endblock %}

{% block content %}

<div id="survey-more">
    <div class="container">
        <div class="row">
            <br />
            <h4 class="text-center">请提供你的个人资料</h4><br /><br />
            <form class="form-horizontal col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="col-sm-4 control-label">年龄</span>
                            <div class="col-sm-8">
                                <div class="input-group">
                                  <input type="number" class="form-control age" value="{{ user.profile.age }}">
                                  <div class="input-group-addon">&nbsp;岁&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-4 control-label">身高</span>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="number" class="form-control height" value="{{ user.profile.height }}">
                                    <div class="input-group-addon">CM</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-4 control-label">体重</span>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="number" class="form-control weight" value="{{ user.profile.weight }}">
                                    <div class="input-group-addon">&nbsp;KG</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="col-sm-4 control-label">穿着偏好</span>
                            <div class="col-sm-8">
                                <select class="form-control pants_style">
                                    {% for choice in PANTS_STYLE_CHOICES %}
                                        {% if user.profile.pants_style == choice.0 %}
                                        <option selected="selected" data-value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% else %}
                                        <option data-value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-4 control-label">衣服尺码</span>
                            <div class="col-sm-8">
                                <select class="form-control clothing_size">
                                    {% for choice in CLOTHING_SIZE_CHOICES %}
                                        {% if user.profile.clothing_size == choice.0 %}
                                        <option selected="selected" data-value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% else %}
                                        <option data-value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-4 control-label">裤子尺码</span>
                            <div class="col-sm-8">
                                <select class="form-control pants_size">
                                    {% for choice in PANTS_SIZE_CHOICES %}
                                        {% if user.profile.clothing_size == choice.0 %}
                                        <option selected="selected" data-value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% else %}
                                        <option data-value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <div class="form-group">
                            <span class="col-sm-2 control-label">预算</span>
                            <div class="col-sm-10">
                                <p>您对本次定制的预算为 <b id="price-val">600元</b></p>
                                <span>￥300&nbsp;&nbsp;</span> <div id="price-slider"></div> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥2000</span>
                                <p><small class="gray">(春夏装我们建议400元左右，秋冬装我们建议 800元左右)</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row block">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="col-sm-2 control-label"><span class="glyphicon glyphicon-plus collapse-btn icon" data-target="#photo-panel"></span></span>
                            <div class="col-sm-10">
                                <p class="collapse-btn text" data-target="#photo-panel">上传您的个人照片</p>
                                <p><small class="gray">(我们的设计方案和您的肤色和体型有着直接的联系，为了给您提供最优的服务，我们建议您提供个人照片)</small></p>
                            </div>
                        </div>
                        <div class="form-group hidden" id="photo-panel">
                            <div class="col-sm-10 col-sm-offset-2">
                                <span class="btn btn-success fileinput-button"> <span>上传照片...</span>
                                    <input id="fileupload" type="file" name="file" data-url="{% url 'accounts:create_photo' %}" />
                                </span>
                                <span id="upload_process"><img height="30" src="{% static 'jQuery-File-Upload/img/loading.gif' %}"><b></b></span>
                                <ul id="photos" class="list-inline" data-url="{% url 'accounts:remove_photo' %}">
                                    {% for photo in user.photo_set.all %}
                                    <li>
                                        <img height="64" src="{{ photo.file|thumbnail_url:'small' }}" />
                                        <a data-id="{{ photo.id }}" href="javascript:void(0)"><span class="glyphicon glyphicon-remove"></span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row block">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="col-sm-2 control-label"><span class="glyphicon glyphicon-plus collapse-btn icon" data-target="#message-panel"></span></span>
                            <div class="col-sm-10">
                                <p class="collapse-btn text" data-target="#message-panel">告诉我们更多信息</p>
                            </div>
                        </div>
                        <div class="form-group hidden" id="message-panel">
                            <span class="col-sm-2 control-label sr-only">其他要求</span>
                            <div class="col-sm-10">
                                <textarea class="message form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-2 text-right">
                <br /><br /><br />
                <button id="submit-more-survey-btn" data-url="{% url 'orders:create' %}" type="button" class="btn btn-primary btn-lg">立即提交</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
