{% extends "page.html" %}
{% load staticfiles thumbnail account_tags %}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock%}

{% block extrajs_compress %}
    <script src="{% static 'js/portal.js' %}"></script>
{% endblock%}
{% block extrajs %}
<!--[if lte IE 9]>
    <script src="{% static 'ie-bootstrap-carousel/ie-bootstrap-carousel.min.js' %}"></script>
<![endif]-->
{% endblock %}

{% block title %}优草形象{% endblock %}

{% block content %}
<div class="carousel slide page" id="survey" data-ride="carousel" data-wrap="false" data-interval="false">
    <div class="carousel-inner">
        <div class="item problem active container auto-slide">
            <div class="carousel-caption row">
                <div class="col-md-12">
                    <h4 class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;亲，我们可以解决以下问题，请选择您的问题！</h4>
                    <br />
                    <div class="row">
                        {% for problem in PROBLEMS %}
                        <div class="col-sm-3">
                            <div class="option" data-value="{{ problem.value }}" data-label="{{ problem.label }}">
                                <img src="{{ STATIC_URL }}image/new/problem_{{ forloop.counter }}.png" /><br /><br />
                                <h4>{{ problem.label }}</h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% comment %}
                <div class="col-md-4 text-left survey-intro">
                    <br /><br /><br /><br /><br />
                    <h3>只需简单三步</h3>
                    <h4>专业形象顾问为您服务</h4>
                    <div class="row">
                        <div class="col-sm-1 index">①</div>
                        <div class="col-sm-6 step">两分钟的简单问卷</div>
                    </div>
                    <div class="row">
                        <p class="col-sm-5 col-sm-offset-2 arrow">↓</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 index">②</div>
                        <div class="col-sm-8 step">免费获取您专属的搭配方案</div>
                    </div>
                    <div class="row">
                        <p class="col-sm-5 col-sm-offset-2 arrow">↓</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 index">③</div>
                        <div class="col-sm-6 step">便捷下单闪电发货</div>
                    </div>
                </div>
                {% endcomment %}
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="next" href="javascript:void(0);"><img src="{% static 'image/new/next_btn.png' %}"></a>
                </div>
            </div>
        </div>

        <div class="item problem-children container last-slide" data-url="{% url 'portals:survey_more' %}">
            <script>var PROBLEMS = {{ PROBLEMS_JSON|safe }};</script>
            <div class="carousel-caption row">
                <div class="col-md-12">
                    <h4 class="text-left title">&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                    <br />
                    <div class="row">
                        <div class="col-sm-3 option-template hidden">
                            <div class="option">
                                <img src="{{ STATIC_URL }}image/new/problem_1.png" /><br /><br />
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <a class="previous" href="javascript:void(0);"><img src="{% static 'image/new/back_btn.png' %}"></a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="next" href="javascript:void(0);"><img src="{% static 'image/new/next_btn.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
