{% load flatpages %}
{% get_flatpages as flatpages %}
<hr />
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-8">
                <span class="text-left">© 2014 ygrass.com, all rights reserved. 浙ICP备14019743号-1 </span>
            </div>
            <div class="col-sm-4">
                <ul class="list-inline text-right">
                    {% for page in flatpages %}
                        <li><a href="/flatpages{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>