<div id="foot-steps" class="text-center">
    <ul class="list-inline">
        <li class="survey">•<br />定制</li>
        <li class="style">•<br />风格</li>
        <li class="age">•<br />年龄</li>
        <li class="designer">•<br />设计师</li>
        <li class="info {% if active == 'info' %}active{% endif %}">•<br />个人信息</li>
        <li class="order {% if active == 'order' %}active{% endif %}">•<br />下单</li>
        <li class="pay {% if active == 'pay' %}active{% endif %}">•<br />支付</li>
    </ul>
</div>
