{% load thumbnail account_tags staticfiles %}
{% if not user.is_staff %}
<div id="header" class="text-center home">
    <ul class="list-inline menus">
        <li>
            <a href="{% url 'portals:index' %}">
                <img height="100" src="{% static 'image/logo_3.png' %}">
            </a>
        </li>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/flatpages/about/">关于优草</a>
        </li>
        <li>
            <a href="/#process">如何运作</a>
        </li>
        <li>
            <a href="/flatpages/return/">售后服务</a>
        </li>
        <li>
            <a href="/flatpages/contact/">联系优草</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'orders:me' %}">我的订单</a>
        </li>
        <li>
            <a href="{% url 'accounts:profile' %}">{{ user.get_full_name|default_if_empty:user.username }}</a>
            <a href="{% url 'accounts:logout' %}" class="navbar-link">退出</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'accounts:login' %}">登录 | </a>
            <a href="{% url 'accounts:register' %}">注册</a>
        </li>
        {% endif %}
    </ul>
    <div class="buttons">
        <a href="{% url 'portals:survey' %}" class="btn">马上开始 ></a>
        {% if user.is_authenticated and not user.profile.is_freshman %}
        <a href="{% url 'portals:survey_more' %}" class="btn">一键下单 ></a>
        {% endif %}
    </div>
</div>

{% else %}
<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <span class="label label-danger">这个菜单只有员工能看到，查看设计上的菜单，请退出</span>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="logo">
                {% url 'portals:index' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">
                        <img height="100" src="{% static 'image/logo_3.png' %}">
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">
                        <span>{{ user.get_full_name|default_if_empty:user.username }}</span>
                        <a href="{% url 'accounts:logout' %}" class="navbar-link">退出</a></p>
                </li>
                <li>
                    <a href="{% url 'orders:list' %}">客户订单</a>
                </li>
            </ul>
            {% if user.is_superuser %}
            <ul class="nav navbar-nav navbar-right">
                {% url 'clothings:list' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">服装管理</a>
                </li>
                {% url 'clothings:supplier_list' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">供应商管理</a>
                </li>
                {% url 'orders:clothings' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">配送单</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endif %}
