{% load thumbnail account_tags staticfiles %}
{% if not user.is_staff %}
<div id="header" class="text-center home">
    <ul class="list-inline menus">
        <li>
            <a href="{% url 'portals:index' %}">
                <img height="100" src="{% static 'image/logo_3.png' %}">
            </a>
        </li>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/#process">如何运作</a>
        </li>
        <li>
            <a href="{% url 'portals:static_page' 'steps' %}">帮助中心</a>
        </li>
        <li>
            <a href="{% url 'portals:static_page' 'about' %}">关于优草</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'orders:me' %}">我的订单</a>
        </li>
        <li>
            <a href="{% url 'accounts:profile' %}">{{ user.get_full_name|default_if_empty:user.username }}</a>
            <a href="{% url 'accounts:logout' %}" class="navbar-link">退出</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'accounts:login' %}">登录 | </a>
            <a href="{% url 'accounts:register' %}">注册</a>
        </li>
        {% endif %}
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="simple-intro">
                    <p class="head">开启您的专属搭配之旅 只需三步</p><br />
                    <div class="panel">
                        <div class="panel-heading">>&nbsp;&nbsp;登录注册</div>
                        <div class="panel-body">在优草注册您的账号，优草为您提供了多种注册方式。</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">>&nbsp;&nbsp;填写资料</div>
                        <div class="panel-body">填写一份简单问卷（身高、体重、穿衣偏好等），优草不会泄露您的个人信息。</div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">>&nbsp;&nbsp;等待设计方案</div>
                        <div class="panel-body">我们会根据您填写的资料为您准备多套搭配方案（24小时之内），您可以登录优草网点击我的订单查看。</div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-left">
                <a class="btn more-intro" href="{% url 'portals:static_page' 'steps' %}">查看图文说明 >></a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{% url 'portals:survey' %}" class="btn">马上开始 ></a>
                {% if user.is_authenticated and not user.profile.is_freshman %}
                <a href="{% url 'portals:survey_more' %}" class="btn">一键下单 ></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% else %}
<nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <span class="label label-danger">这个菜单只有员工能看到，查看设计上的菜单，请退出</span>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="logo">
                {% url 'portals:index' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">
                        <img height="100" src="{% static 'image/logo_3.png' %}">
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">
                        <span>{{ user.get_full_name|default_if_empty:user.username }}</span>
                        <a href="{% url 'accounts:logout' %}" class="navbar-link">退出</a></p>
                </li>
                <li>
                    <a href="{% url 'orders:list' %}">客户订单</a>
                </li>
            </ul>
            {% if user.is_superuser %}
            <ul class="nav navbar-nav navbar-right">
                {% url 'clothings:list' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">服装管理</a>
                </li>
                {% url 'clothings:supplier_list' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">供应商管理</a>
                </li>
                {% url 'orders:clothings' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">配送单</a>
                </li>
                {% url 'promos:list' as url %}
                <li {% if request.path == url %}class="selected"{% endif %}>
                    <a href="{{ url }}">优惠码</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endif %}
