{% load account_tags staticfiles %}
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <a href="/"><img class="logo" src="{% static 'image/new/logo.png' %}" /></a>
            </div>
            <div id="top-menu-link" class="col-md-8">
                <ul class="list-inline pull-left">
                    <li><a href="/">服务流程</a></li>
                    <li><a href="/">服务保障</a></li>
                </ul>
                <ul class="list-inline pull-right">
                    <li><a href="{% url 'orders:me' %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;我的订单</a></li>
                    <li><a href="/"><span class="glyphicon glyphicon-phone"></span>&nbsp;下载APP</a></li>
                    <li><a href="/">帮助中心</a></li>
                </ul>
            </div>
            <div id="top-menu" class="col-md-2 text-center">
                <ul class="list-inline">
                    {% if user.is_staff %}
                    <li>
                        <a href="{% url 'orders:list' %}">客户订单</a>
                    </li>
                    <li>
                        <a href="{% url 'clothings:list' %}">服装管理</a>
                    </li>
                    <li>
                        <a href="{% url 'promos:list' %}">优惠码</a>
                    </li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'clothings:supplier_list' %}">供应商管理</a>
                    </li>
                    <li>
                        <a href="{% url 'orders:clothings' %}">配送单</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'orders:me' %}">{{ user.get_full_name|default_if_empty:user.username }}</a>
                        <span>|</span>
                        <a href="{% url 'accounts:logout' %}" class="navbar-link">退出</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">登录</a>
                        <span>|</span>
                        <a href="{% url 'accounts:register' %}">注册</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
