{% load account_tags staticfiles %}
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center">
                <a href="/"><img class="logo" src="{% static 'image/new/logo.png' %}" /></a>
                <a href="/"><img src="{% static 'image/new/slogon.png' %}" /></a>
            </div>
            <div id="top-menu" class="col-md-7 text-right">
                <ul class="list-inline">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'orders:me' %}">{{ user.get_full_name|default_if_empty:user.username }}</a>
                        <a href="{% url 'accounts:logout' %}" class="navbar-link">退出</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">登录</a>
                        <a href="{% url 'accounts:register' %}">注册</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
