{% load static %}
<div id="kefu">
    <div class="top">
        <img src="{% static 'image/close.gif' %}" class="close" />
    </div>
    <div class="middle">
        <p><b>在线客服</b></p>
        <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2776596932&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:372789275:51" alt="联系优草" title="联系优草"/></a></p>
        <p><b>客服电话</b></p>
        <p>0571-85127385</p>
        <br /><br />
    </div>
</div>
<div class="right_bar">
    <img src="{% static 'image/right_bar.jpg' %}" />
</div>
