<div id="steps" class="text-center">
    <ul class="list-inline">
        <li class="style"><span class="pull-left">></span>风格选择</li>
        <li class="designer"><span class="pull-left">></span>设计师选择</li>
        <li class="info {% if active == 'info' %}active{% endif %}"><span class="pull-left">></span>个人信息填写</li>
        <li class="order {% if active == 'order' %}active{% endif %}"><span class="pull-left">></span>下单</li>
        <li class="pay {% if active == 'pay' %}active{% endif %}"><span class="pull-left">></span>支付预付款</li>
    </ul>
</div>
