{% extends "page.html" %}
{% load staticfiles account_tags thumbnail %}

{% block extrajs_compress %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock%}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock%}

{% block title %}下单{% endblock %}

{% block content %}
<div id="create-order">
    <div class="container {% if last_order %}one-key{% endif %}">
        <div class="row">
            <div class="text-center">
                <br />
                <h3>请确认信息</h3>
                <br />
            </div>
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-unstyled">
                    <li>
                        <span class="name">类型</span>
                        <span class="value problem"></span>
                    </li>
                    <li>
                        <span class="name">年龄</span>
                        <span class="value age"></span>
                    </li>
                    <li>
                        <span class="name">身高</span>
                        <span class="value height"></span>
                    </li>
                    <li>
                        <span class="name">体重</span>
                        <span class="value weight"></span>
                    </li>
                    <li>
                        <span class="name">穿着偏好</span>
                        <span class="value pants_style"></span>
                    </li>
                    <li>
                        <span class="name">衣服尺码</span>
                        <span class="value clothing_size"></span>
                    </li>
                    <li>
                        <span class="name">裤子尺码</span>
                        <span class="value pants_size"></span>
                    </li>
                    <li>
                        <span class="name">个人预算</span>
                        <span class="value price"></span>
                    </li>
                    <li>
                        <p class="message"></p>
                    </li>
                </ul>
                <br />
                <div class="text-right">
                    <a href="{% url 'portals:survey_more' %}?mode=edit">返回修改</a>
                    <button id="create-order-btn" data-loading-text="正在创建..." data-url="{% url 'orders:create' %}" class="btn btn-primary btn-lg">确认并提交</button>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</div>
{% endblock %}
