{% extends "page.html" %}
{% load staticfiles %}

{% block title %}订单创建成功{% endblock %}

{% block content %}
<div class="container body">
    <div>
        <h4>订单创建成功</h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12 content">
            <div class="row">
                <div class="col-md-offset-4 col-md-6">
                    <p>订单创建成功，还差最后一步，<b>支付10%的预付款</b>。<a href="#">马上支付</a></p>
                    <p>感谢您的支持 :-)</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
