{% extends "page.html" %}
{% load staticfiles %}

{% block title %}订单创建成功{% endblock %}

{% block extrajs_compress %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock%}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock%}

{% block content %}
<div class="page">
    <div class="container">
        <div class="row">
            <div id="create-order-success" class="col-md-10 col-md-offset-1 text-center">
                <p><img src="{% static 'image/create_success.png' %}"></p>
                <p>我们已经收到您的需求，并会在24小时内将搭配方案反馈给您。</p>
                <br /><br /><br />
                <p class="gray">点击<a class="btn" href="{% url 'orders:me' %}"><span class="glyphicon glyphicon-shopping-cart"></span>我的订单</a>查看订单状态</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
