{% extends "page.html" %}
{% load staticfiles thumbnail %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock%}

{% block extrajs %}
<link rel="stylesheet" href="{% static 'js/order.js' %}">
{% endblock%}

{% block title %}订单详情{% endblock %}

{% block content %}
<div class="container body">
    <div class="row">
        <div class="col-md-12 content">
            <p>
                <span>订单号：{{ order.code }}</span>
                <span class="pull-right">
                    {{ order.get_operations|safe }}
                </span>
            </p>
            <hr />
            <table class="table table-bordered">
                <tr>
                    <td class="order-description">
                        <table class="table-condensed">
                            <tr>
                                <td class="col-sm-2">服装风格：</td>
                                <td>{{ order.get_style_display }}</td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">穿着年龄：</td>
                                <td>{{ order.get_age_group_display }}</td>
                            </tr>
                            <tr>
                                <td class="col-sm-2">更多要求：</td>
                                <td>{{ order.message }}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{{ order.get_status_display }}</td>
                    <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                </tr>
                {% if order.design_set.exists %}
                <tr>
                    <td>
                        <p>设计方案</p>
                        <table class="table col-sm-12">
                        {% for design in order.design_set.all %}
                        <tr>
                            <td class="col-sm-8">{{ design.comment|truncatechars:100 }}</td>
                            <td>{{ design.get_status_display }}</td>
                            <td class="text-right">
                                <a {% if design.status == 'waiting' %}class="highlight"{% endif %} href="{% url 'designs:detail' code=design.code %}">查看服装设计></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </table>
                    </td>
                    <td colspan="2" class="text-center">
                        <img class="avatar" src="{{ order.preferred_designer.profile.avatar|thumbnail_url:'small' }}" />
                        <p>设计师：{{ order.preferred_designer.username }}</p>
                    </td>
                </tr>
                {% endif %}
                {% if order.status == 'sent' %}
                <tr>
                    <td colspan="3"><b>物流信息：</b><span>{{ order.express_info }}</span></td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="3">
                        <div class="pull-right">
                            <dl class="dl-horizontal">
                              <dt>商品总价：</dt>
                              <dd>{{ order.total_price }}元</dd>
                              <dt>预付款：</dt>
                              <dd>{{ order.prepayment }}元</dd>
                            </dl>
                        </div>
                    </td>
                </tr>
            </table>
            <p>收货信息</p>
            <p>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：{{ order.name }}</p>
            <p>收货地址：{{ order.get_address }}</p>
            <p>联系电话：{{ order.phone }}</p>
        </div>
    </div>
</div>
{% endblock %}
