{% extends "accounts/user_center.html" %}
{% load staticfiles account_tags thumbnail %}

{% block more_extrajs_compress %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock%}

{% block more_extracss_compress %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock%}

{% block user_center_content %}
<div id="order-address" class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br />
            <h4><b>收货地址</b></h4>
            <hr />
            <div id="full-adress" {% if not address %}class="hidden"{% endif %}>
                <table class="table table-bordered">
                    <tr>
                        <td class="name">收货人：</td>
                        <td class="nickname">{{ address.name }}</td>
                    </tr>
                    <tr>
                        <td class="name">联系电话：</td>
                        <td class="phone">{{ address.phone }}</td>
                    </tr>
                    <tr>
                        <td class="name">所在地区：</td>
                        <td class="region">{{ address.get_region }}</td>
                    </tr>
                    <tr>
                        <td class="name">详细地址：</td>
                        <td name="house">{{ address.house }}</td>
                    </tr>
                </table>
                <p class="text-right"><a href="javascript:void(0)" class="btn btn-primary" id="edit-address-btn">修改</a></p>
            </div>
            {% include "orders/address_form.html" %}
        </div>
    </div>
</div>
{% endblock %}
