{% extends "page.html" %}
{% load staticfiles %}

{% block title %}用户登录{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container body">
    <div class="row">
        <h3 class="text-center">用户登录</h3>
    </div>
    <div class="row">
        <form method="post" class="form-horizontal col-md-6 col-md-offset-4" role="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="col-md-2 control-label">{{ field.label }}*: </label>
                    <div class="col-md-6">
                        <div class="input-group">
                            {{ field }}
                            <span class="input-group-addon">
                            {% if field.name == 'password' %}
                                <span class="eye_conversion glyphicon glyphicon-eye-close" data-input-id="id_{{ field.name }}"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-user" data-input-id="id_{{ field.name }}"></span>
                            {% endif %}
                            </span>
                        </div>
                        <span class="label label-danger">{{ field.errors.0 }}</span>
                    </div>
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="form-group">
                <div class="col-md-6 col-md-offset-2">
                    <div class="alert alert-danger">{{ form.non_field_errors.0 }}</div>
                </div>
            </div>
            {% endif %}

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <input class="btn btn-primary" type="submit" value="登录" />
                    <a href="{% url 'accounts:register' %}?{{ query_string }}">还没账号？马上注册</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
