{% extends "page.html" %}
{% load staticfiles %}

{% block title %}用户注册{% endblock %}

{% block extracss_compress %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block extrajs_compress %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page">
    <div class="container">
        <div class="text-center">
            <br /><br />
            <img src="{% static 'image/ygrass_eng.png' %}" />
            <h4>注册优草形象</h4>
            <br />
        </div>

        <div class="row" id="register">
            <form method="post" class="form-horizontal col-md-4" role="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <span class="col-sm-3 control-label">{{ field.label }}: </span>
                        <div class="col-sm-9">
                            {{ field }}
                            {% if field.help_text %}
                            <p class="help-block"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <span class="col-sm-3"></span>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input id="agreement-btn" type="checkbox"><small>我已经认真阅读并同意优草的<a href="#">《使用协议》</a></small>
                            </label>
                        </div>
                    </div>
                </div>

                {% if form.non_field_errors %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <p class="text-danger">{{ form.non_field_errors.0 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input id="submit-btn" class="btn btn-primary" disabled="disabled" type="submit" value="创建" />
                    </div>
                </div>
            </form>

            <div class="col-md-4 col-md-offset-4">
                <p>已经有优草账号？</p>
                <h4><a href="{% url 'accounts:login' %}?{{ query_string }}">马上登录</a></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
