{% extends "accounts/user_center.html" %}
{% load handsome_template_tags %}

{% block user_center_content %}
<div class="container">
    <form method="post" enctype="multipart/form-data" class="form-horizontal col-md-6 col-md-offset-3" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                {% for message in messages %}
                <p class="text-success">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% if user.profile.is_random_user %}
        <div class="form-group">
            <span class="col-md-3 control-label">新用户名:</span>
            <div class="col-md-6">
                <input class="form-control" name="new_username" value="{{ user.username }}" />
            </div>
            <div class="col-md-12">
                <small>*随机用户有一次修改用户名的机会</small>
            </div>
        </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <span class="col-md-3 control-label">{{ field.label }}:</span>
                <div class="col-md-6">
                    {{ field|add_attrs:"class:form-control" }}
                </div>
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <p class="text-danger">{{ form.non_field_errors.0 }}</p>
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <input type="submit" value="提交" class="btn btn-primary form-control" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
