{% extends "accounts/user_center.html" %}
{% load handsome_template_tags %}

{% block user_center_content %}
<div id="update-profile" class="container">
    <div class="row">
        <form class="form-horizontal col-md-10 col-md-offset-1" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="col-sm-4 control-label">年龄</span>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" class="form-control" value="{{ user.profile.age }}" name="age">

                                <div class="input-group-addon">&nbsp;岁&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-4 control-label">身高</span>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" class="form-control" value="{{ user.profile.height }}" name="height">

                                <div class="input-group-addon">CM</div
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-4 control-label">体重</span>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" class="form-control" value="{{ user.profile.height }}" name="weight">

                                <div class="input-group-addon">&nbsp;KG</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="col-sm-4 control-label">穿着偏好</span>

                        <div class="col-sm-8">
                            <select class="form-control" name="pants_style">
                                {% for choice in PANTS_STYLE_CHOICES %}
                                    {% if user.profile.pants_style == choice.0 %}
                                        <option selected="selected" value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% else %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-4 control-label">衣服尺码</span>

                        <div class="col-sm-8">
                            <select class="form-control" name="clothing_size">
                                {% for choice in CLOTHING_SIZE_CHOICES %}
                                    {% if user.profile.clothing_size == choice.0 %}
                                        <option selected="selected" value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% else %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-4 control-label">裤子尺码</span>

                        <div class="col-sm-8">
                            <select class="form-control" name="pants_size">
                                {% for choice in PANTS_SIZE_CHOICES %}
                                    {% if user.profile.clothing_size == choice.0 %}
                                        <option selected="selected" value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% else %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <br />
                <button id="update-profile-btn" class="btn btn-primary btn-lg" data-url="{% url 'accounts:update_profile' %}" data-loading-text="正在提交...">确认修改</button>
            </div>
        </form>
    </div>
    <br/><br/>
</div>
{% endblock %}
