body {
    font: 14px "微软雅黑", "MicrosoftYahei", "宋体", "Arial Narrow", HELVETICA;
    background-image: url("../image/bg.png");
}

.body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.content {
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
}

#login-form {
    padding: 20px 10px 0 10px;
    width: 340px;
}

.eye_conversion {
    cursor: pointer;
}

.eye_conversion:hover {
    color: #2a6496;
}

.eye_conversion.glyphicon-eye-open {
    color: #428bca;
}
