{% extends "page.html" %}

{% block title %}支付成功！{% endblock %}

{% block content %}
<div class="page">
    <div class="container body">
        <div>
            <h4 class="text-center"><span class="glyphicon glyphicon-ok" style="color: green;"></span> 支付成功！</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center content">
                <p>感谢您的付款！我们正在努力为您发货。 </p>
                <p>请点击页首我的订单查看订单状态。</p><br />

                <p><small>如果您有任务疑问，请联系我们客服 QQ 2776596932</small></p>
                <p><small>或者直接电话与优草联系 0571-85127385 (工作日9:00-5:30)</small></p><br /><br />
                <p><small>更多优草资讯 请关注</small></p>
                <ul class="list-inline">
                    <li>
                        <p><small>微博：优草形象</small></p>
                        <img src="{{ STATIC_URL }}image/weibo.png" width="149" height="147" />
                    </li>
                    <li>
                        <p><small>微信：优草形象</small></p>
                        <img src="{{ STATIC_URL }}image/weixin.jpg" width="160" height="153" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
