{% extends "page.html" %}
{% load thumbnail %}

{% block title %}供应商管理{% endblock %}

{% block content %}
<div class="page">
    <div class="container body">
        <div class="row">
            <div class="col-md-12 content">
                <div class="pull-right"><a class="btn btn-primary" href="{% url 'clothings:create_supplier' %}">添加</a></div>

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>名字</th>
                            <th>联系电话</th>
                            <th>代码</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in object_list %}
                        <tr>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.phone }}</td>
                            <td>{{ obj.security_code }}</td>
                            <td><a href="{% url 'clothings:update_supplier' pk=obj.id %}">编辑</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
