{% extends "page.html" %}
{% load handsome_template_tags static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'jqueryui/css/ui-lightness/jquery-ui-1.10.4.custom.min.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'jqueryui/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'js/promo.js' %}"></script>
{% endblock %}

{% block title %}优惠码{% endblock %}

{% block content %}
<div class="page">
    <div class="container body">
        <div class="row">
            <div class="col-md-12 content">
                <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                    {% csrf_token %}
                    {{ form.errors }}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-2">{{ field.label }}:</label>
                            <div class="col-md-4">
                                {{ field|add_attrs:"class:form-control" }}
                            </div>
                        </div>
                    {% endfor %}
                    <input type="submit" value="提交" class="btn btn-primary" />
                    <a href="{% url 'promos:list' %}">返回</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
