{% extends "page.html" %}

{% block title %}查看设计方案{% endblock %}

{% block content %}

<div class="container body">
    <div class="row">
        <div class="col-md-12 content">
            <p>
                <span>订单号：{{ object.order.code }}</span>
                <span class="pull-right">
                    <a class="btn btn-primary" href="{% url 'designs:accept' code=design.code %}">选择这套方案</a> or
                    <a href="{% url 'designs:reject' code=design.code %}">再帮我设计一套</a>
                </span>
            </p>
            <hr />
            <blockquote>
                <p>{{ object.comment }}</p>
            </blockquote>
            <hr />
            <div class="row">
                {% for design_clothing in object.clothings.all %}
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <img width="50" src="/media/{{ design_clothing.clothing.image }}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span>颜色：<b>{{ design_clothing.color }}</b></span>
                            <span>尺寸：<b>{{ design_clothing.size }}</b></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span>{{ design_clothing.clothing.name }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item">
                    {% for photo in object.photos.all %}
                    <img width="280" src="{{ photo.get_absolute_url }}" />
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
